/*
 * List Item Colors
 */
.editItem {
  background-color: #E1ECFA;
}

.newItem{
    background-color:#F0F4FA;
}

.closedItems{
    background-color:#4a87ee;
}

.running{
    background-color: #AAF246;
}

.stopped{
    background-color: #B1DEFA;
}

.disabled{
    color: grey;
}